<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4" android:versionName="4" package="name.boyle.chris.powersource" xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"
        tools:ignore="UnusedAttribute"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:allowBackup="true"
    >
        <activity
            android:name=".InfoActivity"
            android:exported="true"
            tools:ignore="ExportedActivity"
        >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>
        <!--
            This is the "edit" Activity. The mdpi icon should be 32x32. The hdpi icon should be
            48x48. Locale will scale the icons if necessary, but providing pre-scaled versions will
            improve quality and performance.
        -->
        <activity
            android:name=".EditActivity"
            android:exported="true"
            tools:ignore="ExportedActivity"
            android:label="@string/plugin_name"
            android:icon="@drawable/icon"
            android:theme="@style/Theme.Locale.Dark"
        >
            <!-- this Intent filter allows the plug-in to be discovered by Locale -->
            <intent-filter>
                <action
                    android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>
        <!-- This is the "query" BroadcastReceiver -->
        <receiver
            android:name=".QueryReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver"
        >
            <!-- this Intent filter allows the plug-in to be queried -->
            <intent-filter>
                <action
                    android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>
        <!--
            This service is required, because detecting screen state is a REGISTERED_RECEIVER_ONLY
            Intent
        -->
        <service
            android:name="name.boyle.chris.powersource.BackgroundService" />
    </application>
</manifest>